body {
  text-decoration-color: #212529;
}

.px-44 {
    padding-left: 25rem;
  }

.bef {
    position: absolute;
    display: block;
    width: 100%;
    height: 300px;

}

.btnn {
  position: absolute;
  top: -1%;
  left: 4%;
  width: 524px;
  height: 512px;
  background: transparent;
  
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.backcolor {
  background-color: black;
  max-width: 10em;

}

.colorfont {
  color: white;
  font-size: 2em;
}

.margin {
  margin: 3em;
}

.backcolor1 {
  background-color: red;
  max-width: 10em;

}

.colorfont1 {
  color: white;
  font-size: 2em;
}

.icon {
  width: 4%;
  height:auto;
}